@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter ExtraBold";
  src: local("Inter-ExtraBold"),
    url(./fonts/Inter/Inter-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Inter Bold";
  src: local("Inter-Bold"), url(./fonts/Inter/Inter-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Inter Regular";
  src: local("Inter-Regular"),
    url(./fonts/Inter/Inter-Regular.ttf) format("truetype");
}

body {
  font-family: "Inter Regular";
  color: white;

  background: rgb(0, 47, 80);
  background: radial-gradient(
    circle,
    rgb(0, 36, 61) 0%,
    rgba(0, 8, 37, 1) 27%,
    rgba(0, 8, 37, 1) 100%
  );
}

.main-bg {
  @apply bg-main-bg;
}

.extra-bold {
  font-family: "Inter ExtraBold";
}

.bold {
  font-family: "Inter Bold";
}

.blue-gradient {
  background-image: linear-gradient(
    rgb(94, 162, 239) 25%,
    rgb(0, 114, 245) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-gradient {
  background-image: linear-gradient(
    rgb(255, 28, 247) 25%,
    rgb(178, 73, 248) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.orange-gradient {
  background-image: linear-gradient(
    rgb(243, 101, 52) 25%,
    rgb(246, 159, 39) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-gradient {
  background-image: linear-gradient(
    rgb(111, 238, 141) 25%,
    rgb(23, 201, 100) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.one-word {
  word-spacing: 9999999px;
}
*::-webkit-scrollbar {
  width: 0.75rem;
}
*::-webkit-scrollbar-track {
  background-color: #edf2f7;
}
*::-webkit-scrollbar-thumb {
  background-color: #718096;
  border-radius: 9999px;
}
